<main id="home">
    <nav>
      <app-logo></app-logo>
      <ul>
          <li><a href="#explore">Explore</a></li>
          <li><a href="#developer">Developer</a></li>
          <!-- {path: 'problems', component: ProblemsPageComponent}, -->
          <li><a routerLink="/problems">Problems</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a routerLink="/login">Sign in</a></li>
        </ul>
      </nav>
      
    <section>
      <app-image-card
      title="Practice coding, prepare for interviews, and get hired"
      description="Access the best resources to prepare for your coding interviews, solve real-world problems, and get hired by top companies."
      imageUrl="assets/images/g.jpg"
      [imageOnLeft]="false">
    </app-image-card>
  
    <app-image-card
      title="Master Data Structures & Algorithms"
      description="Learn and practice with interactive problems, visualize algorithms with animations, and track your progress with personalized insights."
      imageUrl="assets/images/g.jpg"
      [imageOnLeft]="true">
    </app-image-card>
  
    <app-image-card
      title="Solve Real-World Problems"
      description="Practice with problems curated by experts from real-world scenarios. Get detailed explanations and learn the best practices to solve problems efficiently."
      imageUrl="assets/images/g.jpg"
      [imageOnLeft]="false">
    </app-image-card>
  
    <app-image-card
      title="Collaborate with Friends
  Work together with your friends on coding projects and challenges to enhance your skills."
      description="Solve problems from top companies, and get hired by top companies. Get personalized recommendations and prepare for your interviews."
      imageUrl="assets/images/g.jpg"
      [imageOnLeft]="true">
    </app-image-card>
    </section>
  </main>