.editor{
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: .5rem;
}
.editor__header{
    padding: 1rem .5rem;
}
.editor__body{
    display: grid;
    grid-template-columns: minmax(400px, 1fr);
}
ngx-monaco-editor {
    width: 100%;
    height: 100%;
}
.editor__footer{
    padding: .5rem;
}